<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" 
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-auto">
            <button  onclick="location.href='/ascii'">ASCII</button>
        </div>
        <div class="col-auto">
            <button onclick="location.href='/base64'">Base64</button>
        </div>
    </div>
    <h1 >Оригинальное сообщение: <%= originalText %></h1>
    <h3 >Приватный ключ</h3>
    <p>{ <%= privateKey %> }</p>

    <h3 >Параметры публичного ключа</h3>
    <p>n: <%= n %>, a: <%= a %></p>

    <p>{ <%= publicKey %> }</p>

    <h3 >Зашифрованное сообщение (<%= encodingTime %>мс)</h3>
    <p>{ <%= encrypted %> }</p>

    <h3 >Расшифрованное сообщение (<%= decodingTime %>мс)</h3>
    <h1><%= decrypted %></h1>
</div>
</body>
</html>
